@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900|Roboto+Slab:300,400,700");
.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

html,
body {
  padding: 0;
  margin: 0; }

html {
  min-height: 100vh; }

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
  font-weight: 300; }

h1,
h2,
h3,
p,
figure,
figcaption {
  margin: 0;
  padding: 0; }

h1,
h2 {
  font-family: "Roboto Slab", serif; }

h1 {
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  letter-spacing: 2px;
  font-size: 5vw;
  margin-top: .5rem;
  color: #fff; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  background: #192229; }

.main {
  display: grid;
  grid-template-columns: .1fr 1fr .1fr;
  width: 100vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-row-gap: 25px; }

.section__elements {
  width: 100%;
  display: grid;
  grid-column: 2 /3;
  grid-template-columns: repeat(18, minmax(4vw, 1fr));
  grid-row-gap: 5px;
  grid-column-gap: 5px; }

.section--top {
  grid-template-rows: repeat(7, 4vw); }

.section--bottom {
  grid-template-rows: repeat(2, 4vw); }

.bf-1 {
  grid-column: 2/ 18;
  grid-row: 1/ 2; }

.bf-2 {
  grid-column: 3/13;
  grid-row: 2/4; }

.bf-3 {
  grid-column: 1/4;
  grid-row: 1/3; }

.element__block {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(4, -webkit-min-content);
  grid-template-rows: repeat(4, min-content);
  overflow: hidden;
  color: grey;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
  z-index: 1;
  min-height: 4vh; }
  .element__block h3 {
    font-size: .7vw;
    text-transform: capitalize;
    letter-spacing: .2px;
    opacity: .9;
    cursor: pointer; }
  .element__block h2 {
    font-size: .8vw;
    padding: 0;
    text-transform: capitalize;
    cursor: pointer; }
  .element__block small {
    font-size: .8vw;
    padding: 0;
    margin: 0;
    cursor: pointer; }
  .element__block:hover {
    -webkit-filter: brightness(2);
    filter: brightness(2);
    opacity: 1;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    z-index: 10;
    -webkit-transition: -webkit-transform 400ms ease-out;
    transition: -webkit-transform 400ms ease-out;
    -o-transition: transform 400ms ease-out;
    transition: transform 400ms ease-out;
    transition: transform 400ms ease-out, -webkit-transform 400ms ease-out; }
    .element__block:hover h3 {
      -o-text-overflow: initial;
      text-overflow: initial;
      font-size: .53vw; }

.element--nonmetal {
  background: rgba(20, 70, 99, 0.98);
  border: 1px solid #2582b8; }

.element--noblegas {
  background: rgba(20, 76, 91, 0.98);
  border: 1px solid #2692af; }

.element--alkali {
  background: rgba(85, 46, 50, 0.98);
  border: 1px solid #975259; }

.element--earthmetal {
  background: rgba(87, 67, 35, 0.98);
  border: 1px solid #a07b40; }

.element--metalloid {
  background: rgba(49, 42, 84, 0.98);
  border: 1px solid #594c98; }

.element--metal {
  background: rgba(26, 80, 79, 0.98);
  border: 1px solid #339d9b; }

.element--transitionmetal {
  background: rgba(83, 76, 47, 0.98);
  border: 1px solid #948854; }

.element--lathanoid {
  background: rgba(57, 79, 54, 0.98);
  border: 1px solid #658c5f; }

.element--actinoid {
  background: rgba(75, 85, 49, 0.98);
  border: 1px solid #849656; }

.element--halogen {
  background: rgba(84, 52, 74, 0.98);
  border: 1px solid #935b82; }
