


.section {

  &__elements {
    width: 100%;
    display: grid;
    grid-column: 2 /3;
    grid-template-columns: repeat(18, minmax(4vw, 1fr));
  }

  &--top {
    grid-template-rows: repeat(7, 4vw);
  }

  &--bottom {
    grid-template-rows: repeat(2,4vw);
  }
}
