


@mixin blockColor($shade) {
  background: rgba($shade, .98);
  border: 1px solid lighten($shade, 20);

};


@mixin mq($size) {
 $value : map-get($breakpoints, $size);
  @media screen and (max-width: $value) {
    @content;
  }
}
